<html><body>Prezado {{ name|escape }},<br>
<br>
Recebemos seu pedido para restaurar sua senha do Rogerthat.<br>
<br>
<span style="font-size: large;"><a href="{{ link }}">Clique aqui para restaurar sua senha do Rogerthat.</a></span><br>
<br>
Para restaurá-la, insira-a duas vezes na página que abrirá.<br>
<br>
Se você não puder acessar o link acima, copie e cole este link no seu navegador:<br>
{{ link }}<br>
<br>
Obrigado por usar Rogerthat!<br>
<br>
- Equipe Rogerthat <br>
<a href="https://rogerth.at/">https://rogerth.at/</a><br>
</body></html>
