Prezado {{ name|escape }},

Recebemos seu pedido para restaurar sua senha do Rogerthat. Use essa URL segura para restaurar sua senha em até 5 dias.

{{ link|safe }}

Para restaurar sua senha, insira-a duas vezes na página que abrirá.

 Obrigado por usar Rogerthat!

- Equipe Rogerthat 
https://rogerth.at/
