Dear {{ name|escape }},

We have received your password reset request for Rogerthat. Please use this secure URL to reset your password within 5 days.

{{ link|safe }}

To reset your password, please enter your password twice on the page that opens.

Thank you for using Rogerthat!

- The Rogerthat Team
https://rogerth.at/
